*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #940F0F;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;

}
.forms{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 90%;
    width: 50%;
}
.dados{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: space-around;
    height: 60%;
}
.senha{ 
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: flex-start;
    justify-content: space-around;

    height: 40%;
}
.campo1{
    margin-left: 10%;
    background-color: #d9d9d9;
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}
.campo2{
    margin-left: 10%;
    background-color: #d9d9d9;
    height: 15%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
}
h2{
    align-self: center;
    color: #ffffff;
}
input{
    width: 65%;
    height: 100%;
    background-color: #d9d9d9;
    margin-right: 5%;
}
label{
    margin-left: 5%;
}
.senha input{
    width: 60%;
}
.btn{
    
    align-self: center;
    width: 15%;
    height: 15%;
    border-radius: 20px;
    font-size: 15px;
    color: #ffffff;
    background-color: black;
}
header{
      color: #d9d9d9;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 30%;
}


